/* app css stylesheet */

.page-header {
  text-align: center;
}

.game-container {
    text-align: center;
    width: 400px;
    margin: 50px auto;
}

.marker {
    background: greenyellow;
    display: inline-block;
    height: 100px;
    width: 120px;
    text-align: center;
    font-family: courier,monospace;
    font-size: 100px;
    line-height: 100px;
    padding: 16px 0 0 0;
    border: 5px solid white;
    vertical-align: middle;
}