<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Tic-Angular-Toe</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <div ng-app="myApp">
    <div id="app" ng-controller="GameController">
      <div class="page-header">
        <h3>Tic-Angular-Toe</h3>
      </div>
        <div class="game-container">
            <div ng-repeat="marker in turn.board.markers" class="marker" ng-click="putMarker($index)">
                {{marker}}
            </div>
        </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
  -->
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

  <script src="js/ui-bootstrap-tpls.js"></script>
</body>
</html>
